<!DOCTYPE html>
<html lang="en">
    <head>
        <title>404</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
        <div class="main-content">

       <nav>{{>header}}</nav> 
            <div class="inside-content">

       <h2 class="error-msg">not found 404</h2> 
       </div>
       </div>
    <footer>{{>footer}}</footer>
    </body>
</html>